*This outline property puts an outline on all the divs */
div {
	outline: 2px solid #CCCCCC;
}

/* This is the outermost div in our content markup */
#main-content {
	width: 960px;
	height: 600px;
}



.button-holder {
	width: 180px;
	float: left;
}

.button {
	color: purple;
	width: 75px;
	padding: 6px;
	margin: 6px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	float: left;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	color: orange;
}

.button.active {
	cursor: default;
	color: white;
	background-color: purple;
}

.disabled {
	cursor: default;
	border-color: black;
	color: black;
}

.image-holder {
	width: 600px;
	height: 345px;
	float: left;
	position: absolute;
}


 