/*This outline property puts an outline on all the divs. */

div {
	outline: 2px solid #CCCCCC;
}

/* This is the outermost div in our content markup */
.main-content {
	width: 960px;
	height: 600px;
}

.button-holder {
	width: 150px;
	float: left;
}

.button {
	color: purple;
	width: 75px;
	padding: 8px;
	margin: 6px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	float: left;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	color: orange;
}

.button.active {
	cursor: default;
	color: white;
	background-color: purple;
}

.disabled {
	cursor: default;
	border-color: black;
	color: black;
}
/* I revived the position: absolute property, so my photos would 
 * not cover up the buttons and would float to the left of them.*/
.main-content {}

.image-size {
	width: 100%;
	height: auto;
	
}
.image-holder {
	width: 550px;
	float: left;
	
}


 